<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1" cellpadding="20" rules="all">
        <thead>
            <th>Movie name</th>
            <th>Release Date</th>
            <th>Review</th>
            <th>Description</th>
            <th>Director name</th>
            <th>Actor name</th>
        </thead>
        <tbody>
            {% for i in movie %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.release_date}}</td>
                <td>{{i.review}}</td>
                <td>{{i.description}}</td>
                <td>{{i.director}}</td>
                <td>{{i.actor}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>