<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>
    <form action="" method="get">
        Search team : <input type="search" name="search" id="">
        <input type="submit" value="Search">
    </form><br/>
    {% for i in data %}
        <div>
            <p>{{i.name}}</p>
            <p>{{i.member}}</p>
            <p>{{i.date}}</p>
        </div><br/>
    {% endfor %}
</body>
</html>